* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F9F6F1;
}

.container {
    max-width: 1120px;
    width: 100%;
    margin: auto;
}

.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_img {
    max-width: 201px;
}

.header {
    padding-top: 56px;
    padding-bottom: 33px;
}

.logo_block {
    max-width: 918px;
    width: 100%;
}

.header_nav {
    position: relative;
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #212121;
}

.header_nav::after {
    position: absolute;
    content: "•";
    top: 2px;
    right: -10px;
    width: 5px;
    height: 5px;
    color: #212121;
}

.cart_img {
    max-width: 30px;
    width: 100%;
}

.group_img {
    max-width: 45px;
    width: 100%;;
}

.footer_imgs {
    max-width: 91px;
    width: 100%;;
}

.nav1 {
    max-width: 373px;
    width: 100%;
}

.nav2 {
    max-width: 163px;
    width: 100%;
}

.header_nav2 {
    position: relative;
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #212121;
}

.section_promo {
    padding-top: 100px;
    padding-bottom: 70px;
}

.winter_block {
    display: flex;
    flex-direction: column;
}

.h2_winter {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.02em;
}

.h1_winter {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 67px;
    letter-spacing: 0.04em;
    margin-top: 35px;
    margin-bottom: 55px;    
}

.button {
    background: #D7B399;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    border: none;
}

.button_promo {
    max-width: 240px;
    padding: 17px 30px 18px 29px;
}

.promo_block {
    max-width: 556px;
    width: 100%;
    min-height: 377px;
    background-image: url(../img/running_shoes_PNG5823.png);
}

.h3_promo {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: right;
    letter-spacing: 0.05em;
    text-decoration-line: line-through;
    text-transform: uppercase;    
    margin-bottom: 14px;
}

.h2_promo {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 51px;
    text-align: right;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #D84033;
}

.nav_block {
    max-width: 205px;
    width: 100%;
    margin: auto;
    margin-top: 130px;
}

.holder {
    max-width: 40px;
    width: 100%;
    min-height: 7px;
    background: #CECECE;
}

.holder:nth-child(2) {
    background: #D7B399;
}

.section_free {
    background: #212121;
    padding-top: 80px;
    padding-bottom: 69px;
}

.h1_free {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 23px;
}

.h2_free {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.h1_free::after {
    content: " ОТ 3000₽";
    font-style: normal;
    font-weight: 500;
}

.section_genders {
    background: #F4F4F4;
}

.block_genders {
    max-width: 550px;
    width: 100%;
    padding-top: 61px;
    padding-bottom: 58px;
    background: url(../img/Rectangle\ 3.png) no-repeat left 350px bottom;
}

.h2_genders {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.03em;
}

.p_genders {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    margin-top: 25px;
    margin-bottom: 40px;
}

.button_genders {
    padding: 15px 30px;
    background: #D7B399 url(../img/Arrow.png) no-repeat center;
}

.block_genders:nth-child(2n) {
    background: url(../img/Rectangle\ 3.1.png) no-repeat left 350px bottom;
}

.h2_genders::after {
    content: " КОЛЛЕКЦИЯ";
    font-style: normal;
    font-weight: 500;
}

.section_dress {
    background-color: #fff;
}

.block_wrap {
    display: flex;
    flex-wrap: wrap;
}

.block_dress {
    max-width: 277px;
    width: 100%;
    min-height: 236px;
    background: url(../img/Rectangle.png) no-repeat center;
    position: relative;
}

.a_dress {
    position: absolute;
    left: 30px;
    bottom: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.section_model {
    background-color: #fff;
    padding-top: 150px;
    padding-bottom: 150px;
}

.h1_model {
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #212121;
}

.block_model {
    border: 3px solid linear-gradient(-45deg, transparent 15px, #58a 0) right, linear-gradient(45deg, transparent 15px, #655 0) left;
    border-style: ridge;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 103px;
    margin-bottom: 103px;
    padding-top: 22px;
    max-width: 255px;
    width: 100%;
}

.p_model {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}

.a_price {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #D7B399;
    text-decoration: none;
}